extends splash-layout

block content

  .row
      .col-md-3
      .col-md-6
        h2 Join the community!
        p GiveFirst is the root of how healthy StartUp communities. 
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-3
